<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="R6S_mouse_sensitivity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <R6S_mouse_sensitivity.Properties.Settings>
      <setting name="DPI_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DPI_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DPI_MAX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Without_change_ADS_G_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Without_change_ADS_G_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Without_change_ADS_ADS" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Without_change_ADS_MSMU" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Without_change_ADS_XFA" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Without_change_ADS_DPI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XFA_5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="G_X_5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="G_Y_5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ADS_5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MSMU_5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gamesettings_folder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gamesettings_set_check" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gamesettings_bkup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="change_mouse_sensitivity_os_Accuracy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="change_mouse_sensitivity_os_UnAccuracy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="change_mouse_sensitivity_MSMU_Change" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="change_mouse_sensitivity_read_Y" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="option_Detailed_Value" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="option_Save_Data" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="option_Back_Up" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="initialize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Change_dpi_per_ingame_DPI" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Change_dpi_per_ingame_G_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Change_dpi_per_ingame_G_Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Change_dpi_per_ingame_MSMU" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gamesettings_file" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="option_Default_file" serializeAs="String">
        <value>False</value>
      </setting>
    </R6S_mouse_sensitivity.Properties.Settings>
  </userSettings>
</configuration>